QuanLySach/DTO/DTO.csproj
QuanLySach/DTO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QuanLySach/QuanLySach.sln
QuanLySach/QuanLySach/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache